<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <div class="margen">
        <h4>Bigarren galdera</h4>
        <p>Konturatu zara inguru honetako estratuak ez direla lehengoak bezalakoak?</p>
        <p>Zerbait aldatu da...</p>
        <h5>Zenbat harri mota tartekatzen dira hondartzako eremu honetan? </h5>
        <div class="respuestas">
            <div class="opcion">
                <input type="radio" id="opcion1" name="pregunta1" value="Calizas y margas" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event)">
                <label for="opcion1"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Calizas y margas', 'incorrecta': respuestaIncorrecta && seleccion === 'Calizas y margas' && comprobarPressed}">Kareharri eta tupak</label>
            </div>
            <div class="opcion">
                <input type="radio" id="opcion3" name="pregunta1" value="Calizas, margas y areniscas" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event);">
                <label for="opcion3"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Calizas, margas y areniscas', 'incorrecta': respuestaIncorrecta && seleccion === 'Calizas, margas y areniscas' && comprobarPressed}">Kareharri, tupa eta hareharriak</label>
            </div>
            <div class="opcion">
                <input type="radio" id="opcion2" name="pregunta1" value="Calizas solo" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event);">
                <label for="opcion2"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Calizas solo', 'incorrecta': respuestaIncorrecta && seleccion === 'Calizas solo' && comprobarPressed}">Kareharriak soilik</label>
            </div>
        </div>
        <button (click)="comprobar()" class="btnA" [disabled]="respuestaCorrecta">Egiaztatu</button>
        <button *ngIf="respuestaCorrecta" (click)="goToExplicacion()" class="btnA" >Azalpena</button>
    </div>
</div>