<header>
    <nav>
      <!-- <div class="branding">
        <img src="images/GeobiziLogo.png" class="logo" alt="Geobizi Logo">
      </div> -->
      <div class="icon">
        <button (click)="toggleMobileNav()">
          <img [class.icon-active]="mobileNavOpen" src="images/icons/menu.png" class="mariposita" alt="Menu">
        </button>
      </div>
      <ul [ngClass]="{'dropdown-nav': true, 'open': mobileNavOpen, 'close': !mobileNavOpen}">
        <li class="navMov">
          <a routerLink="/home" (click)="closeMobileNav()">Hasiera</a>
        </li>

        <li>
          <a routerLink="/context" (click)="closeMobileNav()">Mapa</a>
        </li>

        <li>
          <a routerLink="/instructions" (click)="closeMobileNav()">Jarraibideak</a>
        </li>

        <li>
          <a routerLink="/zonas" (click)="closeMobileNav()">Zonak</a>
        </li>

        <li>
          <a routerLink="/contact" (click)="closeMobileNav()">Kontaktua</a>
        </li>

        <li>
          <a routerLink="/extra" (click)="closeMobileNav()">Info gehiago</a>
        </li>

      </ul>
    </nav>
  </header>
  