<div id="cont" class="centre container index animate__animated animate__fadeIn">

    <div class="margen">

        <h2>Azalpena</h2>

        <p>Duela 66 milioi urte arte bidaiatu dugu!</p>
        <p>Lurra oso leku desberdina zen garai hau baino lehen, dinosauroak bezalako izaki txundigarriz betea. Baina orduan, damba! Meteorito erraldoi bat erori zen Yucatan penintsulan, Chicxulub izeneko leku batean.</p>

        <p>Meteorito horrek energia kopuru imajinaezin bat askatu zuen, milioika bonbek batera eztanda egingo balute bezala, eta  hau izan zendinosauroen desagerpena eragin zuen gertaera.</p> 
        <p>Kolpea hain handia izan zen, zein planetan orbain ezabaezina utzi zuen, eta orain ikusten duzun geruza horixka kataklismo kosmiko horren oroigarri bat da.</p>

        <p>Beraz, 66 milioi urteko geruza horri begiratzen diozunean, dinosauroen amaiera eta Lurreko bizitzarako aro berri baten hasiera markatu zuen historia zatitxo bat ikusten ari zara.</p>
        <p>Uste duzu lotura izango duela oraintxe gertatzen ari denarekin?</p>
    <button (click)="volver()" class="btnA">Ok</button>
    
    </div>



</div>
