<div id="cont" class="centre container index animate__animated animate__fadeIn">
<!--     <app-back-component></app-back-component>
 -->
    <div class="margen">
        <h4>Lehenengo galdera</h4>
        <p>Ingurunea haztatuz hasiko gara, zer deskubritu dezakegun ikusteko.</p>
        <h5>Zein koloretakoa da arrokak goitik behera zeharkatzen dituen faila handia?</h5>
        <div class="respuestas">
            <div class="opcion">
                <input type="radio" id="opcion1" name="pregunta1" value="Gris" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event)">
                <label for="opcion1"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Gris', 'incorrecta': respuestaIncorrecta && seleccion === 'Gris' && comprobarPressed}">Grisa</label>
            </div>
            <div class="opcion">
                <input type="radio" id="opcion2" name="pregunta1" value="Blanca" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event);">
                <label for="opcion2"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Blanca', 'incorrecta': respuestaIncorrecta && seleccion === 'Blanca' && comprobarPressed}">Zuria</label>
            </div>
            <div class="opcion">
                <input type="radio" id="opcion3" name="pregunta1" value="Roja" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event);">
                <label for="opcion3"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Roja', 'incorrecta': respuestaIncorrecta && seleccion === 'Roja' && comprobarPressed}">Gorria</label>
            </div>
        </div>
        <button (click)="comprobar()" class="btnA" [disabled]="respuestaCorrecta">Egiaztatu</button>
        <button *ngIf="respuestaCorrecta" (click)="goToExplicacion()" class="btnA" >Azalpena</button>
    </div>
</div>