<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <div class="margen">
        <h4>Bigarren galdera</h4>
        <p>nguru honetan ikus daitezkeen fosilak kontuan hartuta...</p>
        <h5>Zonaldeko fosil hauetako zeinek ditu zati gogorrak?</h5>
        <div class="respuestas">
            <div class="opcion">
                <input type="radio" id="opcion1" name="pregunta2" value="Innocerámidos" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event)">
                <label for="opcion1"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Innocerámidos', 'incorrecta': respuestaIncorrecta && seleccion === 'Innocerámidos' && comprobarPressed}">
                    Inozeramidoak
                </label>
            </div>
            <div class="opcion">
                <input type="radio" id="opcion3" name="pregunta2" value="Zoophycus" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event);">
                <label for="opcion3"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Zoophycus', 'incorrecta': respuestaIncorrecta && seleccion === 'Zoophycus' && comprobarPressed}">
                    Zoophycusa
                </label>
            </div>
            <div class="opcion">
                <input type="radio" id="opcion2" name="pregunta2" value="Algas" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event);">
                <label for="opcion2"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Algas', 'incorrecta': respuestaIncorrecta && seleccion === 'Algas' && comprobarPressed}">
                    Algak
                </label>
            </div>
        </div>
        <button (click)="comprobar()" class="btnA" [disabled]="respuestaCorrecta">Egiaztatu</button>
        <button *ngIf="respuestaCorrecta" (click)="goToExplicacion()" class="btnA" >Azalpena</button>
    </div>
</div>
