<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <div class="margen">
    <h4>Pista</h4>
    <p>"Arkeo-" aurrizki gisa erabiltzen denean, antzinatasunarekin edo urruneko iraganarekin zerikusia duen zerbait da.</p>
    <p>Konposizio-elementu bat da, grezierazko "arkhaios" etik datorrena, "antzinakoa" edo "primitiboa" esan nahi duena.</p>
    <p>Adibidez:</p>
    <p>Arkeologia: antzinako gizarteen azterketa haien aztarna materialen bitartez.</p>
    <button class="btnA" (click)="volver()">OK</button>
    </div>
</div>