<div id="cont" class="centre container index animate__animated animate__fadeIn">

    <div class="margen">

        <h2>Azalpena</h2>

        <p>Hara, badirudi Paleo Sorginak meteoritoaren energiaren zati bat xurgatu duela!</p> 
        <p>Baina izaki guztiak ez ziren erori gertaera hau eragin zuen aldaketa klimatikoaren aurrean. Paleodictyon misteriotsuak denboran zehar modu harrigarrian irautea lortu du.</p>

        <p>Paleodictyona ez da dinosauroak bezalako izaki erraldoi edo beldurgarri baten fosila. Askoz diskretuagoa da! Izan ere, ezaguna da itsas hondoan uzten zituen sare formako patroi geometrikoengatik, eta fosil horiek bizirik atera dira dinosauroak akabatu zituen iraungipen handitik.</p>

        <p>Nahiz eta Ammoniteak bezalako animalia asko desagertu meteoritoaren kolpearen ondoren, Paleodictyonak bere arrastoa Lurrean uzten jarraitu zuen. Beraz, hemen aurkitzen dugun izakiren batek itzaltzeari itzuri egin eta bere historiari jarraitu ahal izan bazion, Paleodictyon izan zen, dudarik gabe!</p>

        <button (click)="volver()" class="btnA">Ok</button>
    </div>

</div>
