<div id="cont" class="container centre index animate__animated animate__fadeIn">


        <h1>Flysch digitala</h1>
        <div class="margenP">
        <h2>Jarraibideak</h2>
    
        <p>Yinkanak hainbat galdera, jarduera-iradokizun eta azalpen ditu hondartzako 5 gunetarako.</p>
        <p>Yinkana Peñon inguruan hasten da eta hondartzaren beste aldean amaitzen da.</p>
        <p>Proba batean trabatzen bazara edo bilatzen ari zarena aurkitzen ez baduzu, jarraitu hurrengoekin. Saiatu, baina ez etsi. Batzuetan ez da bilatzen den guztia aurkitzen.</p>
        <p>Laguntza behar baduzu, bilatu norbait Geobiziren kamiseta beltzarekin edo Geotxikiren txapel berde batekin. Hondartzan ibiliko da...</p>
        
        <h3>Zorte on!</h3>
        
        <button class="btnA" (click)="goToZonas()">Hasi</button>
    
        <button class="btnA" (click)="goToContact()">Kontaktua</button>
    
    </div>
</div>