<div id="cont" class="container centre index animate__animated animate__fadeIn">


        <h1>Flysch Digitala</h1>
        <div class="margenP">
        <h2>Jarraibideak</h2>
    
        <p>Yinkanak hainbat galdera, jardueren iradokizunak eta azalpenak ditu hondartzako 5 eremutarako.</p>
        <p>Jinkana “El Peñón” inguruan hasten da eta hondartzaren beste aldean amaitzen da.</p>
        <p>Proba batean trabatzen bazara edo ez baduzu bilatzen duzuna aurkitzen, jarraitu hurrengoekin. Saiatu, baina ez etsi. Batzuetan ez da aurkitzen bilatzen den guztia.</p>
        <p>Laguntza behar baduzu, bilatu norbait Geobiziren kamiseta beltzarekin edo geotxiki-txapel berde batekin. Hondartzatik ibiliko da.</p>
        
        <h3>Zorte on!</h3>
        
        <button class="btnA" (click)="goToZonas()">Hasi</button>
    
        <button class="btnA" (click)="goToContact()">Kontaktua</button>
    
    </div>
</div>