<div id="cont" class="centre container index animate__animated animate__fadeIn">

    <div class="margen">

        <h2>Azalpena</h2>

        <p>Asmatu duzu! Hondartzaren alde honetan, harkaitzak ez dira lehen ikusi genituen berberak. Orain, kareharrien, margen eta beste zerbaiten tartekatze interesgarri bat ikus dezakegu... hareharriak!</p>

        <p>Kareharriak lehen ikusi ditugun arroka argiago eta leunagoak dira, baina orain, horien artean, harri marroixka mota berri bat agertzen da, ukimenean zimurragoa dena. Hareharria da! Harri hori harea trinkotutik sortzen da, eta inguruko energia gehiena adierazten du.</p>

        <p>Eta ezin ditugu margak ahaztu, kareharriak eta buztinak nahastuko balituzte bezala. Benetako buru-hausgarri geologikoa, milioika urtetan zehar inguru hau nola aldatu den kontatzen diguna!</p>
    <button (click)="volver()" class="btnA">Ok</button>
    </div>



</div>
