<div id="cont" class="centre container index animate__animated animate__fadeIn">
  
<div class="margen">

    <h2>Azalpena</h2>
    <p>Ba al zenekien <b>Triasikoko</b> lutita gorriak, duela 200 milioi urte baino gehiago sortutako harri sedimentario bat, pinturak egiteko erabil daitezkeela?</p>
    <p>Harri horiek kolore gorria dute burdin oxidoei esker, antzinako inguruneetan sortu baitziren ur gutxirekin eta eguzki askorekin, hala nola basamortuetan edo ibar lehorretan.</p>
    <p>Dinosauroen garaian Lurra nolakoa zen ulertzeko baliagarriak izateaz gain, haien pigmentu naturalak antzinatik erabili izan dira artea sortzeko!</p>
    <button (click)="volver()" class="btnA">Ok</button>
</div>

</div>