<div id="cont" class="centre container index animate__animated animate__fadeIn">
  
<div class="margen">

    <h2>Azalpena</h2>
    <p>Ba al zenekien <b>Triasikoko</b> lutita gorriak, duela 200 milioi urte baino gehiago sortutako harri sedimentarioak direla eta pinturak egiteko erabil daitezkeela? </p>
    <p>Arroka horiek kolore gorria dute burdin oxidoei esker; izan ere, ur gutxiko eta eguzki askoko antzinako inguruneetan sortu ziren, hala nola basamortuetan edo haran lehorretan.</p>
    <p>Lurra dinosauroen garaian nolakoa zen ulertzeko baliagarriak izateaz gain, haien pigmentu naturalak artea sortzeko erabili izan dira antzinatik!</p>
    <button (click)="volver()" class="btnA">Ok</button>
</div>

</div>