<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <div class="margen">
        <h4>Lehenengo galdera</h4>
        <p>Kartel bat daukagu aurrean dauden arrokei buruz.</p>
        <p>Daturen bat lagungarri izan dakiguke.</p>
        <h5>Zenbat kolore bereiz daiteke aurrean duzun arroketan?</h5>
        <div class="respuestas">
            <div class="opcion">
                <input type="radio" id="opcion1" name="pregunta1" value="Todo junto" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event)">
                <label for="opcion1"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Todo junto', 'incorrecta': respuestaIncorrecta && seleccion === 'Todo junto' && comprobarPressed}">Bat</label>
            </div>
            <div class="opcion">
                <input type="radio" id="opcion3" name="pregunta1" value="Dos" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event);">
                <label for="opcion3"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Dos', 'incorrecta': respuestaIncorrecta && seleccion === 'Dos' && comprobarPressed}">Bi</label>
            </div>
            <div class="opcion">
                <input type="radio" id="opcion2" name="pregunta1" value="Tres" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event);">
                <label for="opcion2"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Tres', 'incorrecta': respuestaIncorrecta && seleccion === 'Tres' && comprobarPressed}">Gehiago</label>
            </div>
        </div>
        <button (click)="comprobar()" class="btnA" [disabled]="respuestaCorrecta">Egiaztatu</button>
        <button *ngIf="respuestaCorrecta" (click)="goToExplicacion()" class="btnA" >Azalpena</button>
    </div>
</div>