<div id="cont" class="container index animate__animated animate__fadeIn">

    <h2>4. zona</h2>
    <h1>K Pg</h1>
    <app-zona4-marcadores></app-zona4-marcadores>
    <div class="margen">
        <p>Orain badakigu 7 sinbolo behar ditugula ataria edo espazio-denboraren arrakala ixteko.</p>
        <p>Inguru honetan mundua bere errotik aldatu zuen gertaera bat ikertuko dugu, non agian askatu zen energiak gure misioarekin zerikusia izango duen. </p>
        <img class="mapa-img" src="images/mapas/zona4.png" alt="Mapa zonas">

    </div>
</div>