<div id="cont" class="centre container index animate__animated animate__fadeIn">
<!--     <app-back-component></app-back-component>
 -->
    <div class="margen">

        <h2>Azalpena</h2>
        <p>Lehenik, lasagna geruzak sortzen dira, ezta? Beno, gauza bera gertatzen da Lurrarekin: lehenik eta behin estratuak eratzen dira, denborarekin metatzen diren harri geruzak bezalakoak direnak, bata bestearen gainean, milioika urtetan zehar. (egia esan, ez doa punturik, ez doa ezer).</p>
        <p>Gero, imajinatu norbaitek lasagna baten muturrei bultza egiten diela, zimurrak sortzen dira! Horrela sortzen dira tolesturak arroketan. Hori Alpeetako orogenian gertatu zen. Etapa horretan indar handiek lurrazala bultzatu zuten, mendiak eratuz eta estratuak tolestuz, izara batean tolesturak balira bezala.</p>
        <p>Azkenik, presio horren guztiaren ondoren, lasagna hautsi egiten da! Izan ere, horrelako zerbait gertatzen da Lurrean: indarrak handiegiak direnean edo norabidez aldatzen direnean, failak sortzen dira, lurrazalean pitzadura handiak direnak.</p>
        <p>Beraz, ordenan, lehenik estratuak datoz (lasagna geruzak), gero tolesturak (bultza egitean zimurrak), eta, azkenik, faila (hausten denean agertzen den arrakala).</p>

        <button (click)="volver()" class="btnA">Ok</button>
    </div>
</div>