<div id="cont" class="centre container index animate__animated animate__fadeIn">

    <div class="margen">

        <h2>Azalpena</h2>

        <p>Asmatu duzu! Hondarreko partikula beltz horiek burdina dira, eta ez da edozein burdina... Bilboko ondare industrial zaharraren hondakinak dira!</p>

        <p>Aspaldian, Bilbo inguruan, meatzaritzaren eta labe garaien industria oso aktiboa zen. Burdina ateratzen zuten mendietatik eta labe handietan urtzen zuten gauza asko egiteko, itsasontzietatik eraikinetaraino. Denborarekin, burdin horren partikula txikiak hondartzako hondarreraino iritsi ziren.</p>

        <p>Beraz, gaur egun hondartzak leku lasaia dirudien arren, historiaz beteta dago. Iman bat baduzu, burdinazko partikula txiki horiek erakarrita sentitzen dira, Bilboko meategi zaharretan etxera itzuli nahiko balute bezala.</p>

    <button (click)="volver()" class="btnA">Ok</button>
    </div>


</div>
