<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <div class="margen">
        <h2>Azalpena</h2>
        <p>Asmatu duzu! Hitz gakoa Aliron da, eta oso lotuta dago Bizkaiko eta Athletic Clubeko meatzaritzaren historiarekin.</p>
        <p>"Aliron" hitzaren jatorria XIX. mendearen amaieran dago, Trianoko burdin meategietan, Ortuellatik gertu. Meatzari ingelesek, burdinazko zain puru bat aurkitzean, "All Iron" dioen kartel bat zuten zintzilik, "Dena Burdina" esan nahi duena. Hori ospatzeko arrazoia zen, langileentzat aparteko ordainsaria suposatzen bait zuen. Denborarekin, euskal meatzariek adierazpen hori "Aliron" oihuari egokitu zioten.</p>
        <p>Hitza futbolarekin lotu zen, batez ere Athletic Clubekin, "aliron, aliron, Athletic txapelduna da!" leloa XX. mendearen hasieran arrakasta izan zuen abesti bati esker zabaldu zenean.</p>
    <button (click)="volver()" class="btnA">Ok</button>    
</div>

</div>
