<div id="cont" class="container index animate__animated animate__fadeIn">
  <!--   <app-nav-zonas></app-nav-zonas> -->
  <h2>1. zona</h2>
  <h1>El Peñón</h1>
  <app-zona1-marcadores></app-zona1-marcadores>
  <div class="margen">
    <p>Gune honetan hondartzako elementurik <i>zaharrena</i> aurkitu beharko dugu.</p>
    <p>Horrek arrastoak emango dizkigu espazio-denboran arrakala ireki zuen <i>izakiaren</i> denbora-tarteari buruz.</p>
    <p>Antzina-antzinatik gaur egun arte bidaiatuko dugu.</p>
    <p>Goazen!</p>
  </div>
</div>