<div id="cont" class="centre container index animate__animated animate__fadeIn">

    <div class="margen">

        <h2>Azalpena</h2>

        <p>Fosilen sekretuak ezagutuko ditugu! Zati gogorrak dituzten fosilak antzinako buruhausgarri baten piezak aurkitzea bezala dira. Hauek duela milioika urte bizi izan ziren animalien hezurrak, hortzak edo maskorrak izan daitezke. Iraganeko historia handi baten zati bat aurkitzea bezala da!</p>
        
        <p>Baina fosil guztiek ez dute zati gogorrik. Batzuk iknofosilak dira, animaliek utzitako markak edo aztarnak, hondarretan haien aztarnak aurkituko bagenitu bezala. Fosil hauek non zeuden eta zertan ari ziren kontatzen digute, abenturaz betetako egunkari zahar bat irakurtzea bezala!</p>

        <p>Beraz, hezurrak edo aztarnak aurkitzen badituzu, gogoan izan fosil bakoitzak historia bakarra duela, eta iraganeko bizitza nolakoa zen ulertzen laguntzen digula.</p>
    <button (click)="volver()" class="btnA">Ok</button>

    </div>


</div>
