<div id="cont" class="centre container index animate__animated animate__fadeIn">

    <div class="margen">

        <h2>Azalpena</h2>

        <p>Horixe! Erantzun zuzena Drakula da. Drakula banpiroa izateagatik ezaguna bada ere, istorio askotan magia ilunarekin eta naturaz gaindiko botereekin ere lotzen da. Karpato mendiak, Ekialdeko Europako hainbat herrialde zeharkatzen dituztenak, Errumania barne, sorginkeria elezaharrengatik, izaki magikoengatik eta, jakina, Drakula kondeagatik dira ospetsuak.</p>

        <p>Karpatoak baso ilunez, kobazulo misteriotsuz eta lainoz beteta daude, sorginen eta izaki magikoen istorioentzako giro ezin hobea sortzen dutenak. Mendez mende esaten da eskualdeko biztanleek naturaz gaindiko izakietan sinesten dutela, hala nola sorginetan eta mamuetan, mendi horietako bazter sakonenetan bizi baitira.</p>

        <p>Beraz, Karpatoei buruz pentsatzen duzun hurrengo aldian, gogoratu mendiak ez ezik magiaz eta misterioz betetako lekua ere badirela!</p>
    <button (click)="volver()" class="btnA">Ok</button>

    </div>


</div>