<div id="cont" class="centre container index animate__animated animate__fadeIn">
<!--     <app-back-component></app-back-component>
 -->    
<div class="margen">

    <h2>Azalpena</h2>
    <p>Harkaitz hauek hondartzako zaharrenak dira.</p>
    <p>Harri gazteagoen artean sartu dira, hauek zeharkatuz duten plastikotasunari esker. </p>
    <p>Txokolatez betetako madalena bat eskuarekin zanpatzean da, txokolatea gorantz irteten den bezala.</p>
    <p>Buztin gorri horiek gorantz igotzen dira presioaren ondorioz.</p>
    <p><b>Trias</b>-eko material ere deitzen zaio (Triasiko garaikoa).</p>
    <button (click)="volver()" class="btnA">Ok</button></div>


</div>
