<div id="cont" class="centre container index animate__animated animate__fadeIn">
<!--     <app-back-component></app-back-component>
 -->    
<div class="margen">

    <h2>Azalpena</h2>
    <p>Arroka hauek hondartzako zaharrenak dira.</p>
    <p>Harri gazteagoen artean sartu dira, eta plastikotasunari esker zeharkatu dituzte.</p>
    <p>Txokolatez betetako madalena bat eskuarekin zanpatzen badugu, txokolatea gorantz ateratzen da.</p>
    <p>Buztin gorri horiek gorantz igotzen dira presioaren ondorioz.</p>
    <p><b>Triaseko</b> materiala ere esaten zaio (garai triasikokoa).</p>
    <button (click)="volver()" class="btnA">Ok</button></div>


</div>
