<div id="cont" class="container index animate__animated animate__fadeIn">


    <h2>Zona 5</h2>
    <h1>Koba</h1>
    <app-zona5-marcadores></app-zona5-marcadores>
    <div class="margen">
        <p>Orain badakigu zer egin zuen Paleo Sorginak, baina ez dakigu nola itxi eragin zuen arrakala.</p>
        <p>Saia gaitezen konpontzen denbora amaitu eta beste izaki batek ataria zeharkatu baino lehen.</p>
        <p>Ihes egin duen izakia aurkitu behar dugu eta ataria lehenbailehen itxi.</p>
        <img class="mapa-img" src="images/mapas/zona5.png" alt="Mapa zonas">

    </div>
</div>
