<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <div class="margen">
        <h4>Azken galdera</h4>
        <p>Burdin horrek lagundu zion Iridioarekin batera Paleo Sorginari, meteoritoaren energia harrapatzeko behar zen aleazioa sortzen.</p>
        <p>Baina, gainera, historia berrienarekin lotura du. Bereziki Athletic Club futbol taldearekin. </p>
        <h5>Zein da lotura horren hitz gakoa? </h5>
        <div class="respuestas">
            <div class="opcion">
                <input type="radio" id="opcion1" name="pregunta1" value="Bacalau" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event)">
                <label for="opcion1"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Bacalau', 'incorrecta': respuestaIncorrecta && seleccion === 'Bacalau' && comprobarPressed}">Bakalau</label>
            </div>
            <div class="opcion">
                <input type="radio" id="opcion3" name="pregunta1" value="Campeón" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event);">
                <label for="opcion3"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Campeón', 'incorrecta': respuestaIncorrecta && seleccion === 'Campeón' && comprobarPressed}">Txapeldun</label>
            </div>
            <div class="opcion">
                <input type="radio" id="opcion2" name="pregunta1" value="Alirón" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event);">
                <label for="opcion2"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Alirón', 'incorrecta': respuestaIncorrecta && seleccion === 'Alirón' && comprobarPressed}">Aliron</label>
            </div>
        </div>
        <button (click)="comprobar()" class="btnA" [disabled]="respuestaCorrecta">Egiaztatu</button>
        <button *ngIf="respuestaCorrecta" (click)="goToExplicacion()" class="btnA">Azalpena</button>
    </div>
</div>