<div id="cont" class="container index animate__animated animate__fadeIn">

    <h2>3. Zona</h2>
    <h1>Fosilandia</h1>
    <app-zona3-marcadores></app-zona3-marcadores>
    <div class="margen">
        <p>Baditugu arrasto batzuk gure ikerketarekin jarraitzeko.</p>
        <p>Fosilandian zihur iraganean hemen bizi izan ziren izakien hondakinak aurkituko ditugula.</p>
        <p>Eremu hau zabalagoa da, mugitu beharko zara fosil batzuk aurkitzeko.</p>
        <img class="mapa-img" src="images/mapas/zona3.png" alt="Mapa zonas">

    </div>
</div>
