<div id="cont" class="centre container index animate__animated animate__fadeIn">

    <div class="margen">
        <h4>Inguruko azken galdera</h4>
        <p>Harri gorrien adina badakigu, baina, eta haien ondoan daudenena?</p>
        <h5>Inguru hau inguratzen duten arroka girseak, gutxi gorabehera, zenbat urte dituzte? </h5>
        <div class="respuestas">
        <div class="opcion">
            <input type="radio" id="opcion3" name="pregunta1" value="54 Ma" [disabled]="respuestaCorrecta"
                (change)="onOptionChange($event);">
            <label for="opcion3"
                [ngClass]="{'correcta': respuestaCorrecta && seleccion === '54 Ma', 'incorrecta': respuestaIncorrecta && seleccion === '54 Ma' && comprobarPressed}">54
                Mu</label>
        </div>
        <div class="opcion">
        <input type="radio" id="opcion1" name="pregunta1" value="Más de 200 Ma"
            [disabled]="respuestaCorrecta" (change)="onOptionChange($event)">
        <label for="opcion1"
            [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Más de 200 Ma', 'incorrecta': respuestaIncorrecta && seleccion === 'Más de 200 Ma' && comprobarPressed}"> >
            200 Mu</label>
        </div>
        <div class="opcion">
            <input type="radio" id="opcion2" name="pregunta1" value="Unos 70 Ma"
                [disabled]="respuestaCorrecta" (change)="onOptionChange($event);">
            <label for="opcion2"
                [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Unos 70 Ma', 'incorrecta': respuestaIncorrecta && seleccion === 'Unos 70 Ma' && comprobarPressed}">
                70 Mu inguru</label>
        </div>
    </div>
        <button (click)="comprobar()" class="btnA" [disabled]="respuestaCorrecta">Egiaztatu</button>
        <button *ngIf="respuestaCorrecta" (click)="goToExplicacion()" class="btnA" >Azalpena</button>
    </div>
</div>
