<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <div class="margen">    
        <p>¿Lortu duzu?</p>
        <p>Bikain!</p>
        <p>Sartu gako secretua pistak ezagutzeko:</p>
        <p>Zein da aurkitu duzun sinboloaren izena?</p>
        <input class="input" type="text" [(ngModel)]="clave" placeholder="Sartu gakoa">
        <p *ngIf="error" style="color: red;">Gako okerra. Saiatu berriro.</p>
        <button class="btnA" (click)="siguiente()">Ok</button>
        <button class="btnA" (click)="ayuda()">Laguntza</button>
    </div>
</div>
