<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <h1>9. misioa</h1>
    <p>Iker dezagun orain Kobazulo Eremua</p>
    <p>Eremu honetako lehen pista hasieran aurki dezakezu</p>
    <p>Arrasto fosil batzuekin irteten diren arrokak bilatzen ditu.</p>
    <p>Itsas trikuen aztarnak dira. Agian dagoeneko ikusi duzu.</p>
    <img class="mapa-img" src="images/fosiles/12.png" alt="Mapa zonas">
    <div class="btnsHorizontal">
        <button class="btnB" (click)="hecho()"><img class="imgBtn" src="images/iconos/ok.png" alt="hecho"></button>
        <button class="btnB" (click)="fallo()"><img class="imgBtn" src="images/iconos/no.png" alt="fallo"></button>
    </div>
</div>