<div id="cont" class="centre container index animate__animated animate__fadeIn">

    <div class="margen">

        <h2>Azalpena</h2>


        <p>Meteoritoak Lurraren kontra sekulako indarrez jo zuenean, beroa eta presioa hain handiak izan zirenez, arrokak urtu egin ziren! Harri urtu horiek tanta txikiak bezala atera ziren tiroka, eta berehala hoztu zirenean, tektitak sortu zituzten.</p>
        <p>Badirudi Paleo Sorgina meteoritoaren boterea harrapatzen saiatu dela tektita horietako batzuetan. Baina nola egin zuen?</p>

        <p>Beraz, talkaren boterearen frogaren bat Lurrean geratu bazen, beira naturaleko bolatxo bitxi hauek izan ziren! Tektitak, inpaktu handiaren lekuko izateaz gain, gakoa izan zitezkeen sorginak meteoritoaren energia horren guztiaren boterea gorde zezan.</p>
    <button (click)="volver()" class="btnA">Ok</button>
    </div>



</div>
