<div id="cont" class="centre container index animate__animated animate__fadeIn">

    <div class="margen">

        <h2>Azalpena</h2>

        <p>Imajinatu urpeko abentura handi batean zaudela! Duela milioika urte bizi izan zen itsas narrasti erraldoi bat zen Mosasaurusa. Bere tamaina eta igerilari trebetasun handiekin, animalia sinestezin honek orainera igeri egiteko aukera gehiago zituen denboran zehar arrakala batetik sartuko balitz.</p>

        <p>Aipatu ditugun beste animaliak ere liluragarriak dira, baina garai ezberdinetan eta giro ezberdinetan bizi ziren. Tyrannosaurus rex lehorreko dinosauro beldurgarria zen, eta trilobites aspaldi desagertu zen itsas artropodo txiki bat zen! </p>

        <p>Beraz, antzinako animalia bat gure garaian sartuko balitz, Mosasaurusa izango litzateke seguruena, bere tamaina eta ur-trebetasun ikaragarriekin!</p>
    <button (click)="volver()" class="btnA">Ok</button>

    </div>


</div>
