<div id="cont" class="centre container index animate__animated animate__fadeIn">
<!--     <app-back-component></app-back-component>
 -->    
<div class="margen">

    <h2>Azalpena</h2>
    <p><b>Herrerasaurusa</b> duela 231,4 milioi urte bizi izan zen.</p>
    <p>Haren gorpuzkiak Ilargiaren Haranean aurkitu zituzten, Argentinakoan.</p>
    <p><b>Herrerasaurusa</b> erregistratuta dagoen dinosauro zaharrenetako bat da.</p>
    <p>Hankabiko haragijalea zen.</p>
    <p><b>Triceratopsa</b> duela 68 milioi urte bizi izan zen Ipar Amerikan.</p>
    <p><b>Kentrosaurusa</b> duela 152 milioi urte bizi izan zen Afrikan.</p>
    <button (click)="volver()" class="btnA">Ok</button>
</div>

</div>
