<div id="cont" class="centre container index animate__animated animate__fadeIn">

    <div class="margen">

        <h2>Azalpena</h2>
        <p>Alpeetako orogenia gertaera geologiko handia izan zen, duela 37 eta 24 milioi urte artean gertatu zena. Denbora horretan, Lurraren indar handiek lurra bultzatu eta altxatu zuten, mendiak eta tolesdurak eginez harkaitzetan!</p>

        <p>Imajinatu akordeoi baten bi muturrak bultzatzen ari zarela: tolesturak eta muinoak sortzen dira erdian, ezta? Horixe gertatu zen Lurreko harkaitzekin.</p>
    
        <p>Baina hemen dator interesgarria! Hondartzan tolesturak egin zituen indar horrek berak ere mendiak altxatu zituen munduko beste leku batzuetan.</p>

        <p>Adibidez, Europan Karpatoak tolesdura horiekin batera eratu ziren.</p>

        <p>Beste mendi batzuk, Ural edo Andeak kasu, hainbat unetan eta arrazoi ezberdinengatik sortu ziren.</p>
        <p>Beraz, mapa bati begiratu eta mendiak ikusten dituzunean, pentsatu Lurra nola "tolestu" zen akordeoi erraldoi bat bezala formazio sinestezin horiek sortzeko.</p>
       <button (click)="volver()" class="btnA">Ok</button>

    </div>


</div>