<div id="cont" class="centre container index animate__animated animate__fadeIn">

<h1>Falla zona</h1>
<h2>Bildutako pistak</h2>
<p>Bigarren gakoa lortu duzu:</p>
<p><b>Fallakadum</b></p>
<h2>Informazioa</h2>
<p><b>Paleo Sorgiña</b> sorginak Falla inguruan utzi du bere arrastoaren zati bat.</p>
<p>Oso informazio interesgarria aurkitu dugu.</p>
<p>Sorginak erabili dituen sinbolo magikoak aurkitu eta ordena egokian jarri behar ditugu ataria ixteko.</p>

<button class="btnA" (click)="volver()">Zonak</button>

</div>