<div id="cont" class="centre container index animate__animated animate__fadeIn">
<!--     <app-back-component></app-back-component>
 -->
    <div class="margen">
        <h4>Hirugarren galdera</h4>
        <p>Agian aurkituko bagenu tolesdura hauek eragin zituen munduko zein lekutan eragin zuen, aldaketaren jatorria jakin dezakegu.</p>
        <p>Alpetar orogeniak eragin zituen hondartzan ikusten ditugun tolesturak eragin zituzten mugimenduak.</p>
        <h5>Zein mendi sortu ziren tolestura horiekin batera?</h5>
        <div class="respuestas">
            <div class="opcion">
                <input type="radio" id="opcion1" name="pregunta1" value="Los Urales" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event)">
                <label for="opcion1"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Los Urales', 'incorrecta': respuestaIncorrecta && seleccion === 'Los Urales' && comprobarPressed}">Uralak</label>
            </div>
            <div class="opcion">
                <input type="radio" id="opcion3" name="pregunta1" value="Los Andes" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event);">
                <label for="opcion3"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Los ´', 'incorrecta': respuestaIncorrecta && seleccion === 'Los Andes' && comprobarPressed}">Andeak</label>
            </div>
            <div class="opcion">
                <input type="radio" id="opcion2" name="pregunta1" value="Los Cárpatos" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event);">
                <label for="opcion2"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Los Cárpatos', 'incorrecta': respuestaIncorrecta && seleccion === 'Los Cárpatos' && comprobarPressed}">Kárpatoak</label>
            </div>
        </div>
        <button (click)="comprobar()" class="btnA" [disabled]="respuestaCorrecta">Egiaztatu</button>
        <button *ngIf="respuestaCorrecta" (click)="goToExplicacion()" class="btnA" >Azalpena</button>    
    </div>
</div>