<div id="cont" class="centre container index animate__animated animate__fadeIn">
  <div class="margen">
  <h4>Lehenengo galdera</h4>
  <p>Lehenik eta behin, iraganerako atea non dagoen jakin behar dugu.</p>
  <p>Non dago itxi behar dugun espazio-denboraren arrakala?</p>
  <h5>Zein hondartzatan zaude oraintxe bertan?</h5>
  <div class="respuestas">
    <div class="opcion">
      <input type="radio" id="opcion1" name="pregunta1" value="Atxabiribil" [disabled]="respuestaCorrecta" (change)="onOptionChange($event)">
      <label for="opcion1" [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Atxabiribil', 'incorrecta': respuestaIncorrecta && seleccion === 'Atxabiribil' && comprobarPressed}">Atxabiribil</label>
    </div>
    <div class="opcion">
      <input type="radio" id="opcion2" name="pregunta1" value="Arrietara" [disabled]="respuestaCorrecta" (change)="onOptionChange($event);">
      <label for="opcion2" [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Arrietara', 'incorrecta': respuestaIncorrecta && seleccion === 'Arrietara' && comprobarPressed}">Arrietara</label>
    </div>
    <div class="opcion">
      <input type="radio" id="opcion3" name="pregunta1" value="Larrabasterra" [disabled]="respuestaCorrecta" (change)="onOptionChange($event);">
      <label for="opcion3" [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Larrabasterra', 'incorrecta': respuestaIncorrecta && seleccion === 'Larrabasterra' && comprobarPressed}">Larrabasterra</label>
    </div>
  </div>
  <button (click)="comprobar()" class="btnA" [disabled]="respuestaCorrecta">Egiaztatu</button>
  <button *ngIf="respuestaCorrecta" (click)="goToExplicacion()" class="btnA" >Azalpena</button>
  </div>
</div>
