<div id="cont" class="container index animate__animated animate__fadeIn">

    <h2>2. Zona</h2>
    <h1>Falla</h1>
    <app-zona2-marcadores></app-zona2-marcadores>
    <div class="margen">
        <p>Eremu horretan arrokaren arrakala markatuta geratu da.</p>
        <p>Iraganeko errunaldiaren eta Sopelan marka utzi zuten animalien arteko bereizketa da.</p>
        <p>Hemen, iraganean zer gertatu den jakin behar dugu, etorkizunari nola eragiten dion ikusteko.</p>
        <img class="mapa-img" src="images/mapas/zona2.png" alt="Mapa zonas">

    </div>
</div>
    