<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <div class="margen">
        <h4>Hurrengo galdera</h4>
        <p>Flysch-a, milioika urtez ur azpian sortzen den formazio arrokatsua da.</p>
        <p>Inguru honetako animaliaren bat gaur egungo zulotik sartuko balitz...</p>
        <h5>Animalia hauetako zeinek du orainera sartzeko aukera gehien?</h5>
        <div class="respuestas">
            <div class="opcion">
                <input type="radio" id="opcion1" name="pregunta1" value="Mosasaurus" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event)">
                <label for="opcion1"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Mosasaurus', 'incorrecta': respuestaIncorrecta && seleccion === 'Mosasaurus' && comprobarPressed}">Mosasaurioa</label>
            </div>
            <div class="opcion">
                <input type="radio" id="opcion3" name="pregunta1" value="Tyrannosaurus rex" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event);">
                <label for="opcion3"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Tyrannosaurus rex', 'incorrecta': respuestaIncorrecta && seleccion === 'Tyrannosaurus rex' && comprobarPressed}">Tiranosaurusa</label>
            </div>
            <div class="opcion">
                <input type="radio" id="opcion2" name="pregunta1" value="Trilobita" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event);">
                <label for="opcion2"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Trilobita', 'incorrecta': respuestaIncorrecta && seleccion === 'Trilobita' && comprobarPressed}">Trilobitea</label>
            </div>
        </div>
        <button (click)="comprobar()" class="btnA" [disabled]="respuestaCorrecta">Egiaztatu</button>
        <button *ngIf="respuestaCorrecta" (click)="goToExplicacion()" class="btnA" >Azalpena</button>
    </div>
</div>