<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <div class="margen">
        <h1>1. xedea</h1>
    <p>Atariari buruzko arrastoren bat bilatu behar dugu, eta nola itxi.</p>
    <p>Bilatu inguruan honi buruzko arrastoren bat emango digun sinbolo edo zerbait arraroren bat.</p>
    <p>Geobiziren logoak lagunduko dizu...</p>
    <img class="logo" src="images/Geobizi.png" alt="Geobizi">
    <p>Aztarnarik lortu duzu?</p>
    <div class="btnsHorizontal">
        <button class="btnB" (click)="hecho()"><img class="imgBtn" src="images/iconos/ok.png" alt="hecho"></button>
        <button class="btnB" (click)="fallo()"><img class="imgBtn" src="images/iconos/no.png" alt="fallo"></button>
    </div>
</div>
    
</div>