<div id="cont" class="centre container index animate__animated animate__fadeIn">
<!--     <app-back-component></app-back-component>
-->    
<div class="margen">

    <h2>Azalpena</h2>
    <p>Ikus dezakegun arroka formazioa Bizkaiko flyscharen zati da, eta ziklikoki errepikatzen den arroka-sekuentzia batez osatuta dago.</p>
    <p>Kareharrizko geruzek eta margek osatzen dute, eta Getxotik Bakiora arte hartzen dute.</p>
    <p>Zergatik gertatzen da milioika urtetan errepikatutako sekuentzia hori?</p>
    <p>Arrazoia lurraren eta eguzkiaren arteko mugimenduak dira.</p>
    <p>Planetaren ardatza mareatutako peonza bat bezala mugitzen da, eta denboran errepikatutako klima-aldaketen arrazoia da. </p>
    <button (click)="volver()" class="btnA">Ok</button>
</div>

</div>
