<div id="cont" class="centre container index animate__animated animate__fadeIn">
<!--     <app-back-component></app-back-component>
-->    
<div class="margen">

    <h2>Azalpena</h2>
    <p>Ikusten dugun eraketa <b>Bizkaiko Flyscharen</b>zati bat da, ziklikoki errepikatzen den harkaitz-sekuentzia batek osatzen duena.</p>
    <p>Getxotik Bakiora bitarteko kareharri eta tuparri geruzek osatzen dute.</p>
    <p>Zergatik gertatzen da milioika urtetan errepikatutako sekuentzia hori?</p>
    <p>Arrazoia Lurrak Eguzkiarekiko egiten dituen mugimenduak dira.</p>
    <p>Landarearen ardatza zorabiatutako zotz baten antzera mugitzen da, eta denboran behin eta berriz gertatzen diren klima-aldaketen arrazoia da.</p>
    <button (click)="volver()" class="btnA">Ok</button>
</div>

</div>
