<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <div class="margen">
        <h2>Azalpena</h2>

        <p>Ondo erreparatzen badiogu, eskuinean kolore gorrixkak dituen alde bat ikus dezakegu, eta ezkerrean kolore moreagoak dituen beste bat.</p>
        <p>Bi zati horiek bereizten dituen geruza estu bat dago, kolore horixkagoa duena.</p>
        <p>Egunaren argiaren arabera, baliteke koloreak desberdinak izatea.</p>
        <p>Saia zaitez zure inguruko arroka natural batean egun euritsu eta eguzkitsu batean erreparatzen, desberdintasuna ikusteko.</p>
    <button (click)="volver()" class="btnA">Ok</button>   
</div>

</div>