<div id="cont" class="container index animate__animated animate__fadeIn">

    <h1>Flysch digitala</h1>
    <div class="margenP">

    <h4>Naturarekin harremanetan egoteaz digitalki gozatuko duzu ingurune zoragarri honi buruz ikasten duzun bitartean.</h4>
    
    <h4>Zuretzat gordeta ditugun sekretu guztiak ezagutuko dituzula uste duzu?</h4>

</div>

    <div class="margenP">
        <h3>Ingurumen-testuingurua</h3>

        <p>Bizkaiko kostaldean zaude, zehazkiago Arrietara eta Atxabiribil hondartzetan (Sopela).</p>
        <p>Zure inguruan ikus ditzakezun arrokak Bizkaiko Flyscharen zati dira, harkaitz-formazio hori ikus daiteke Bizkaiko kostaldean zehar, Getxotik Bakiora.</p>
        <p>Gure lurraldeko natura-ondarearen zati garrantzitsua da, eta sekretu interesgarriak gordetzen ditu haren eraketari, arrokei, fosilei eta abarri buruz.</p>
        <p>Yincana hau ikasten duzun bitartean inguruneaz goza dezazun garatu dugu eta, gainera, oroitzapen txiki bat eraman ahal izan dezazun, denbora muga baino lehen amaitzea lortzen baduzu.</p>
    </div>

    <button class="btnA" (click)="goToZonas()">Hasi</button>

    <button class="btnA" (click)="goToInstructions()">Jarraibideak</button>

    <button class="btnA" (click)="goToContact()">Kontaktua</button>
    
    <img class="logo" src="images/Geobizi.png" alt="Geobizi">

</div>
