<div id="cont" class="centre container index animate__animated animate__fadeIn">

    <div class="margen">

        <h2>Azalpena</h2>

        <p>Eureka! Paleo Sorginaren sekretua aurkitu dugu! Meteoritoak tektitetan duen boterea harrapatu ahal izateko, zerbait berezia behar zuen: iridioa!</p>

        <p>Iridioa oso elementu arraroa da Lurrean, baina ezetz asmatu? Askoz ohikoagoa da meteoritoetan!</p> 
        <p>Meteorito erraldoi batek, dinosauroen desagerpena eragin zuenak, Lurraren kontra talka egiten duenean, iridio-arrastoak uzten ditu estratu harritsuetan.</p>

        <p>Beraz, inoiz Lurreko geruza batean iridioa aurkitzen baduzu, meteorito boteretsu bat han egon zela frogatzen duen pista bat da!</p> 
        <p>Baliteke sorginak elementu arraro hori erabiltzea inpaktu-energia guztia kontzentratzeko. Hau trikimailu maltzurra!</p>
    <button (click)="volver()" class="btnA">Ok</button>
    </div>



</div>
