<div id="cont" class="centrecontainer index animate__animated animate__fadeIn">
  <h2>Lagundu iezaguzu hobetzen</h2>

  <!-- Mostrar el formulario solo si feedbackSent es falso -->
  <form *ngIf="!feedbackSent" (ngSubmit)="submitFeedback()">
    <label for="rating">
      <h3>Puntuazioa:</h3>
    </label>
    <div id="rating" class="rating">
      <span *ngFor="let star of [1, 2, 3, 4, 5]" (click)="rating = star">
        <img [src]="star <= rating ? '/images/iconos/imagen-rellena.png' : '/images/iconos/imagen-vacia.png'"
          [alt]="star <= rating ? 'Star filled' : 'Star empty'" class="rating-star">
      </span>
    </div>

    <p>Bidali zure iritzia. Biotzez eskertuko dizugu.</p>
    <p>Gehien gustatu zaizuna, zer ez, zer gustatuko litzaizukeen...</p>
    <p>Nahi duzuna!</p>

    <label for="comment">
      <h3>Iruzkina:</h3>
    </label>
    <textarea class="input" id="comment" [(ngModel)]="comment" name="comment" rows="4" required></textarea>

    <button class="btnA" type="submit">Bidali</button>
  </form>

  <!-- Mostrar el mensaje de éxito solo si feedbackSent es verdadero -->
  <div *ngIf="feedbackSent" class="success-message">
    <p>Mezua behar bezala bidali da</p>
    <img class="logo" src="/images/iconos/gracias.png" alt="Success" />
    <p>Bilatu logoa daramana, erakutsi irudia eta eskatu zure saria</p>
  </div>
</div>