<div id="cont" class="centre container index animate__animated animate__fadeIn">

    <div class="margen">

        <h2>Azalpena</h2>

        <p>Bost baino gehiago! Hala da, hondartza benetako altxorra da, istorio fosilez betea, kontatzeko zain. Hainbeste espezie desberdin aurki genitzake: ammoniteak eta inozeramidoak, ekinodermoak, algak, txondriteak, arrain-hortzak... Baita inoiz aipatu ez ditugun izakien fosil batzuk ere!</p>

        <p>Hondartza honetako fosilak ez dira animalien aztarnak bakarrik, baizik eta baita aztarnak, markak eta iraganeko beste bizi-aztarna batzuk ere. Historia zaharreko liburu handi bat bezalakoa da, abentura harrigarriz betetako orriekin!</p>

        <p>Beraz, hondartzan zauden hurrengoan, begiratu ondo zure inguruan... milioika urteko historiaren gainean geldi egon zaitezke, aurkitu arte.</p>
    <button (click)="volver()" class="btnA">Ok</button>

    </div>


</div>
