<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <div *ngIf="!puzzleComplete">
        <div class="margen index animate__animated animate__fadeIn">
            <h1>Itxi ataria!</h1>
            <p>Sakatu sinboloak ordena egokian.</p>
            <div class="button-grid">
                <button class="btn-simbolos" *ngFor="let button of shuffledButtons; let i = index"
                    (click)="checkOrder(i)" [disabled]="button.disabled" [ngClass]="{'selected': button.selected}">
                    <img [src]="button.image" [alt]="button.name" class="button-image" />
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="puzzleComplete" class="success-message">
        <div class="margen index animate__animated animate__fadeIn">
            <div class="btnB divImgs">
                <img src="images/simbolos/centro.png" alt="Portal Imagen" class="portal-image img-centro">
                <img src="images/simbolos/borde.png" alt="Portal Imagen" class="portal-image img-borde">
            </div>
            <h2>Ataria itxi duzu!</h2>
            <h2>Zorionak!</h2>
            <p>Mundua salbatu duzu sortzen ari zen hondamenditik.</p>
            <h3>Sari gehigarri bat nahi duzu?</h3>
            <button class="btnA" (click)="gotoQuestion()">Lortu ezazu!</button>
            <h4 class="margen">Zoaz zure saria jasotzera. Bilatu norbait Geobiziren kamiseta beltzarekin edo
                Geotxiki.</h4>
        </div>
    </div>
</div>