<div id="cont" class="centre container index animate__animated animate__fadeIn">
<!--     <app-back-component></app-back-component>
-->    
<div class="margen">

    <h2>Azalpena</h2>
    <p>Imajina ezazu Triasikoko lutita gorriak Lurraren mendebaldea bezalakoak direla! Buztin hauek, beren kolore gorri dardartiarekin, dinosauroen denboraren lekuko izateaz gain, oso erabilgarriak ere izan ziren.</p>
    <p>Oso egitura fin eta trinkoari esker, uraren eta beste likido batzuen pasabidea blokeatu dezakete, hesi ikusezin bat balira bezala!</p>
    <p>Eta hemen dator zati dibertigarria: lurrean pitzadura edo huts bat dagoenean, buztin gorri horiek bete eta zigilatu egin dezakete, urak, petrolioak edo gasak ihes egitea eragotziz.</p>
    <p>Harri hauek likidoari esango baliote bezala: "Ezin zara pasatu!".</p>
    <button (click)="volver()" class="btnA">Ok</button>
</div>

</div>