<div id="cont" class="centre container index animate__animated animate__fadeIn">

    <div class="margen">

        <h2>Azalpena</h2>

        <p>Hara! Haitz soilak baino zerbait gehiago aurkitu omen dugu haitzulorako bidean. Arrasto fosilak dira! Baina ez edozein aztarna, Scolicia motako iknita oso bereziak baizik.</p>

        <p>Arrasto hauek antzinako itsas izakiek utzi zituzten, hala nola itsas trikuek, ekinoideoak ere deituak. Imajina itzazu izaki txiki hauek hondarraren gainean mugitzen, milioika urtetan fosilizatuta geratu den arrastoa utziz. </p>

        <p>Beraz, izaki bera aurkitzen ez badugu ere, aztarna hauek arrasto liluragarriak dira aspaldian nola bizi eta mugitzen ziren ikusteko. Denborak bere iraganaren mapa sekretu bat utzi baligu bezala da!</p>
    <button (click)="volver()" class="btnA">Ok</button>
    </div>



</div>
