<div id="cont" class="container index animate__animated animate__fadeIn">

    <h1>Flysch digitala</h1>
    <div class="margenP">

    <h4>Naturarekin harremanetan jartzeko esperientzia digitalaz gozatuko duzu ingurune zoragarri honi buruz ikasten duzun bitartean.</h4>
    
    <h4>Uste duzu deskubritu ahal izango dituzula zuretzat gordeta ditugun sekretu guztiak?</h4>

    <h3>Gure abentura</h3>

    <p>Inflexio-puntu batean gaude espazio-denboran.</p>
    <p>Desagertutzat jotzen zen izaki bat berragertu da gaur egun, iraganerako atari bat sortuz.</p>
    <p>Jakin behar dugu inguru horretan bizi ziren animalia guztien artean zein den Sopelako denbora-arrakala horren erantzulea.</p>
    <p>Gure egitekoa izaki hori iraganean aurkitzea eta ataria ixtea da, ume gehiago akualitatera iritsi eta arazo ekologiko bat sortu aurretik.</p>
    <p>Zer gertatuko litzateke mosasaurioak, pterodaktiloak edo tiranosauroak gaur egun gure artean agertuko balira?</p>

</div>
    <button class="btnA" (click)="goToZonas()">Hasi</button>

    <button class="btnA" (click)="goToInstructions()">Jarraibideak</button>

    <button class="btnA" (click)="goToContact()">Kontaktua</button>

    <div class="margenP">
        <h3>Ingurumen-testuingurua</h3>

        <p>Bizkaiko kostaldean zaude, zehazkiago Arrietara eta Atxabiribil (Sopela) hondartzetan.</p>
        <p>Zure inguruan ikus ditzakezun arrokak Bizkaiko Flyscharen parte dira, Bizkaiko kostaldean zehar ikus daitekeen formazio harritsua, Getxotik Bakioraino.</p>
        <p>Gure lurreko natura-ondarearen zati garrantzitsua da, eta haren eraketari, harkaitzei, fosilei eta abarri buruzko sekretu interesgarriak ezkutatzen ditu.</p>
        <p>Yinkana hau garatu dugu, ikasten ari zaren bitartean inguruneaz goza dezazun eta, gainera, oroitzapen txiki bat eraman dezazun, azken denbora baino lehen bukatzea lortzen baduzu.</p>
    </div>
    
    <img class="logo" src="images/Geobizi.png" alt="Geobizi">

</div>
