<div id="cont" class="container index animate__animated animate__fadeIn">

    <h1>Flysch Digitala</h1>
    <div class="margenP">
    <h2>Dembora Ataria</h2>

    <p>Denbora-espazio inflexio-puntu batean aurkitzen gara.</p>
    <p>Desagertutzat jotzen zen izaki bat berriro agertu da gaur egun, iraganerantzko atari bat sortuz.</p>
    <p>Eremu horretan bizi ziren animalietatik Sopelako denbora-arrakala honen erantzulea zein den jakin behar dugu.</p>
    <p>Gure eginkizuna izaki hori iraganean aurkitzea eta ataria ixtea da, animalia gehiago gaur egunera iritsi eta arazo ekologiko bat sortu aurretik</p>
    <p>Zer gertatuko litzateke mosasaurioak, pterodaktiloak edo tiranosauroak gaur egun gure artean agertuko balira?</p>

</div>
    <button class="btnA" (click)="goToZonas()">Hasi</button>

    <button class="btnA" (click)="goToInstructions()">Jarraibideak</button>

    <button class="btnA" (click)="goToContact()">Kontaktua</button>
    
    <img class="logo" src="images/Geobizi.png" alt="Geobizi">

</div>
