<div id="cont" class="centre container index animate__animated animate__fadeIn">
<!--     <app-back-component></app-back-component>
 -->
    <div class="margen">
        <h4>Hurrengo galdera</h4>
        <p>Noiz gauden kontuan hartuta, garai horri buruzko beste ikerketa batzuk egin ditzakegu.</p>
        <p>Zein dinosauro sar liteke espazio-denboraren arrakala horretatik?</p>
        <p>Baten bat ikusten baduzu, korrika egin beharko zenuke...</p>
        <h5>Zein dinosauro bizi zen arroka hauek sortu ziren garai berean?</h5>
        <div class="respuestas">
            <div class="opcion">
                <input type="radio" id="opcion3" name="pregunta1" value="Triceratops" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event);">
                <label for="opcion3"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Triceratops', 'incorrecta': respuestaIncorrecta && seleccion === 'Triceratops' && comprobarPressed}">Triceratopsa</label>
            </div>
            <div class="opcion">
                <input type="radio" id="opcion2" name="pregunta1" value="Herrerasaurus"
                    [disabled]="respuestaCorrecta" (change)="onOptionChange($event);">
                <label for="opcion2"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Herrerasaurus', 'incorrecta': respuestaIncorrecta && seleccion === 'Herrerasaurus' && comprobarPressed}">Herrerasaurusa</label>
            </div>
            <div class="opcion">
                <input type="radio" id="opcion1" name="pregunta1" value="Kentrosaurus"
                    [disabled]="respuestaCorrecta" (change)="onOptionChange($event)">
                <label for="opcion1"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Kentrosaurus', 'incorrecta': respuestaIncorrecta && seleccion === 'Kentrosaurus' && comprobarPressed}">Kentrosaurusa</label>
            </div>
        </div>
        <button (click)="comprobar()" class="btnA" [disabled]="respuestaCorrecta">Egiaztatu</button>
    <!--     <button (click)="goToZona1()" class="btnA">Zona 1</button>
    -->    <button *ngIf="respuestaCorrecta" (click)="goToExplicacion()" class="btnA" >Azalpena</button>
    </div>
</div>