<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <div class="margen">
        <h4>Pista</h4>
        <p>Egoera puruan, lanpara elektrikoetarako harizpien fabrikazioan, labe elektrikoetarako erresistentzietan, automobil-banatzaileetarako kontaktu elektrikoetan, baita gezi-jaurtigailuetan ere, eta X izpien hodietarako eta telebistarako katodoetan erabiltzen da.</p>
        <p>Abiadura handiko ebaketa-erremintetarako aleazioetan erabilera garrantzitsuak ditu.</p>
        <p>Besteak baino ohikoagoa da.</p>
        <button class="btnA" (click)="volver()">OK</button>
    </div>
</div>