<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <div class="margen">
        <h1>El Peñóneko zona</h1>
        <h2>Bildutako pistak</h2>
        <p>Lehenengo gakoa lortu du:</p>
        <p><b>Bibidi Babidi Bu</b></p>
        <h2>Informazioa</h2>
        <p><b>Paleo Sorgiña</b> sorginak sorginkeria bat erabili du ataria ireki eta helmugara iristeko.</p>
        <p>Orain, ataria zeharkatu eta gainerako pistak bilatu ditzakegu, ataria ixteko.</p>
        <p>Gako gehiago aurkitu beharko ditugu nahaste-borraste hau konpondu ahal izateko.</p>

        <button class="btnA" (click)="volver()">Zonak</button>

    </div>

</div>