<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <h1>3. misioa</h1>
    <p>Eremu txikiago batzuk daude 3. eremuaren barruan.</p>
    <p>Lehenengo zatian bilatuko dugu.</p>
    <p>Bilatu Zoophycus inguruan, hormatik.</p>
    <img class="mapa-img" src="images/fosiles/25.png" alt="Mapa zonas">

    <div class="btnsHorizontal">
        <button class="btnB" (click)="hecho()"><img class="imgBtn" src="images/iconos/ok.png" alt="hecho"></button>
        <button class="btnB" (click)="fallo()"><img class="imgBtn" src="images/iconos/no.png" alt="fallo"></button>
    </div>
</div>
