<div id="cont" class="centre container index animate__animated animate__fadeIn">

    <div class="margen">

        <h2>Azalpena</h2>

        <p>Ammoniteak historiaurreko ozeanoetako abenturazaleak ziren! Imajina ezazu barraskilo erraldoi bat espiral perfektu itxurako maskor batekin, barruan olagarro bat duen pizza biribilkatu bat bezala. Itsas molusku sinestezin hauek duela milioika urte bizi izan ziren, dinosauroak Lurraren jabe zirenean.</p>
        <p>Ammoniteak itsasoetan ibiltzen ziren arrain txikiak eta beste itsas-animalia batzuk harrapatzen. Bere maskorrak hainbat gambara zituen, urpekontzi bat balitz bezala, eta hobeto flotatzen eta igeri egiten laguntzen zien!</p>
        <p>Zientzialariek ammoniteen fosilak aurkitzen dituztenean, iraganeko aztarnak aurkitzea bezala da, duela milioika urte Lurrean gertatzen ari zena jakiten laguntzen digutenak.</p>
    <button (click)="volver()" class="btnA">Ok</button>

    </div>


</div>