<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <div class="margen">
        <h4>Hurrengo galdera</h4>
        <p>Badakigu Karpatoak inguru hau altxatu eta uretatik irteten hasi zen aldi berean sortu zirela. </p>
        <p>Ba al zenekien Karpato-mendiek lotura misteriotsua dutela sorginkeriarekin?</p>
        <h5>Magiarekin eta naturaz gaindikoarekin lotutako kondairazko zein pertsonaia ospetsu bizi zen eskualde horretan?</h5>
        <div class="respuestas">
            <div class="opcion">
                <input type="radio" id="opcion1" name="pregunta1" value="Merlín" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event)">
                <label for="opcion1"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Merlín', 'incorrecta': respuestaIncorrecta && seleccion === 'Merlín' && comprobarPressed}">Merlin</label>
            </div>
            <div class="opcion">
                <input type="radio" id="opcion3" name="pregunta1" value="Baba Yaga" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event);">
                <label for="opcion3"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Baba Yaga', 'incorrecta': respuestaIncorrecta && seleccion === 'Baba Yaga' && comprobarPressed}">Baba Yaga</label>
            </div>
            <div class="opcion">
                <input type="radio" id="opcion2" name="pregunta1" value="Drácula" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event);">
                <label for="opcion2"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Drácula', 'incorrecta': respuestaIncorrecta && seleccion === 'Drácula' && comprobarPressed}">Drakula</label>
            </div>
        </div>
        <button (click)="comprobar()" class="btnA" [disabled]="respuestaCorrecta">Egiaztatu</button>
        <button *ngIf="respuestaCorrecta" (click)="goToExplicacion()" class="btnA" >Azalpena</button>    
    </div>
</div>