<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <div class="margen">
        <h1>Eureka</h1>
        <h2>Pista guztiak bildu ditugu</h2>
        <p>Orain ataria itxi besterik ez dugu egin behar.</p>
        <p>Sinboloak ordena egokian jarri beharko ditugu Paleo Sorgiñasorginak eragindako korapiloa desegin ahal izateko.</p>
        <p>Zein izango da ordena zuzena?</p>
        <p>Animo!</p>
        <div class="centre">
            <img class="imgBtn" src="images/iconos/flechaAbajo.png" alt="pincha abajo">
            <button class="btnB" (click)="portal()"><img class="imgBtn portal-imagen " src="images/simbolos/1.png" alt="hecho"></button>

        </div>
    </div>
</div>