
<!-- Contenedor principal de contenido -->
<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <div class="margen">    
    <p>Geobiziren ikurra bilatu behar duzu kartoi mehe edo antzeko batean, ikertzen ari zaren eremuan.</p>
    <p>Baliteke lurrera erori izana.</p>

    <p>Aurkitzen ez baduzu, laguntza eska diezagukezu WhatsApp bidez.</p>
    <p>Bidali mezulari bat misioaren eremuarekin eta zenbakiarekin, gakoa errazteko.</p>

    <button class="btnA" (click)="volverIntentar()">Saiatu</button>
    <button class="btnA" (click)="siguiente()">1. zona</button>
</div>
</div>
