<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <div class="margen">
    <h1>7. misioa</h1>
    <p>Iker dezagun orain K/Pg eremua</p>
    <p>Kartelean begiratu baduzu, zihur zerbait ikusi duzula... Edo agian ez?</p>
    <p>Bilatu ondo kartelean.</p>
    <div class="btnsHorizontal">
        <button class="btnB" (click)="hecho()"><img class="imgBtn" src="images/iconos/ok.png" alt="hecho"></button>
        <button class="btnB" (click)="fallo()"><img class="imgBtn" src="images/iconos/no.png" alt="fallo"></button>
    </div>        
    </div>

</div>