<div id="cont" class="centre container index animate__animated animate__fadeIn">

    <div class="margen">

        <h2>Azalpena</h2>

        <p>Sorpresa! Ekinodermoak dira biziraupenaren txapeldunak. Talde honetan itsas izarrak, itsas trikuak eta itsas pepinoak sartzen dira. Antzinako formetako batzuk desagertu egin ziren arren, ekinodermo-espezie askok dinosauroen garaitik gaur egunera arte iraun dute bizirik, eta oraindik bizirik eta egonkor diraute gure ozeanoetan!</p>

        <p>Baina inozeramido eta ammoniteek zorte txarra izan zuten. Biak itsas izakiak ziren, duela 66 milioi urteko desagertze handian extingitu zirenak. Beraz, denboran zehar bizirik irauteari buruz hitz egiten badugu, ekinodermatuek irabazten dute saria!</p>

        <p>Harrigarria da gaur egun itsasoan ikusten ditugun izaki batzuek itsas munduko benetako bidaiariak balira bezain sustrai zaharrak dituztela pentsatzea!</p>
    <button (click)="volver()" class="btnA">Ok</button>

    </div>


</div>
