<div id="cont" class="centre container index animate__animated animate__fadeIn">
    <div class="margen">
        <h4>Lehenengo galdera</h4>
        <p>Haitzulorako bidean hareatik irteten diren arrokak aurki ditzakezu.</p>
        <p>Begiratu haiei. Agian izakia aurkituko dugu...</p>
        <h5>Zer fosil mota aurkitzen ditugu gailentzen diren arroka hauetan? </h5>
        <div class="respuestas">
            <div class="opcion">
                <input type="radio" id="opcion1" name="pregunta1" value="Huellas" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event)">
                <label for="opcion1"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Huellas', 'incorrecta': respuestaIncorrecta && seleccion === 'Huellas' && comprobarPressed}">Aztarnak</label>
            </div>
            <div class="opcion">
                <input type="radio" id="opcion3" name="pregunta1" value="Esqueleto" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event);">
                <label for="opcion3"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Esqueleto', 'incorrecta': respuestaIncorrecta && seleccion === 'Esqueleto' && comprobarPressed}">Hezurdura</label>
            </div>
            <div class="opcion">
                <input type="radio" id="opcion2" name="pregunta1" value="Concha" [disabled]="respuestaCorrecta"
                    (change)="onOptionChange($event);">
                <label for="opcion2"
                    [ngClass]="{'correcta': respuestaCorrecta && seleccion === 'Concha', 'incorrecta': respuestaIncorrecta && seleccion === 'Concha' && comprobarPressed}">Oskola</label>
            </div>
        </div>
        <button (click)="comprobar()" class="btnA" [disabled]="respuestaCorrecta">Egiaztatu</button>
        <button *ngIf="respuestaCorrecta" (click)="goToExplicacion()" class="btnA" >Azalpena</button>
    </div>
</div>