<div id="cont" class="centre container index animate__animated animate__fadeIn">

    <div class="margen">

        <h2>Azalpena</h2>

        <p>Aurkitu duzu! Hondartzaren zati honetako harea, batez ere, haitz zatiz osatuta dago. Baina ez edozein arroka, denborak, urak eta olatuek higatu eta eraman dituzten pieza txikiak dira!</p>

        <p>Imajinatu nola bidaiatu duten haitz zatitxo horiek milaka urtetan, higatuz eta nahastuz, gaur egun ikusten duguna bihurtu arte. Pikor bakoitzak bere historia du, agian antzinako mendi batena, urruneko haitz batena, meategi batena edo baita ahaztutako sumendi batena ere. </p>

        <p>Beraz, harea honen gainean zabiltzanean, milioika urteko historia geologikoa zapaltzen ari zara, arroka zati ñimiñoen eran. Benetako altxor naturala zure oinen azpian!</p>
    <button (click)="volver()" class="btnA">Ok</button>
    </div>



</div>
